<!DOCTYPE html>
<html ng-app='coinage_mvp'>
  <head>
    <meta charset="utf-8" />
    <title>Coinage - Bitcoin, blockchain & Ethereum resources saved</title>
    <!--  CSS link here later -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" /> -->
 </head>
 <body ng-controller="mainController">

   <div style="text-align: center">

   <br>
   <h1 style="color: green">Coinage</h1>
   <h3 style="font-style: italic; color: grey">Saving your Bitcoin, blockchain & Ethereum resources</h3>
   <!-- <br><br> -->
   <hr style="width: 50%">
   <br>

   <form ng-submit="searchRequest(input)">
       <input type= "text" ng-model="input" placeholder="Whatcha wanna know?" required style="border-radius: 5px; margin-left: 20px;  width: 180px; line-height: 15px; color: brown;  font-size: 10pt">
       <input type="Submit" style="color: brown; margin-left: 2px">
     </form>
     <!-- <p> Search query entered = {{ input }} </p> -->
     <!-- <hr style="width: 20%"> -->
     <h3>
         <a style="color: blue;font-weight: bold" target="_blank" href="{{url}}">{{ title }}</a>
         <br><br>
         <a style="color: blue;font-weight: bold whitespace: pre-wrap;">Author: </a> {{ byline }}
         <a style="color: blue;font-weight: bold"> | Date: </a> {{ pub_date }}<br><br>
         <a style="color: blue;font-weight: bold"> Intro: </a> {{ intro }}<br><br>

         <a style="color: blue;font-weight: bold whitespace: pre-wrap;">Resource type: </a> {{ type }}
         <a style="color: blue;font-weight: bold"> | Source: </a> {{ source }}
         <a style="color: blue;font-weight: bold whitespace: pre-wrap;"> | User tags: </a> {{ user_tags }}
         <br><br>
         <a style="color: blue;font-weight: bold">User notes: </a> {{ user_notes }}<br><br>
     </h3>

      <a style="color: green">Save these search results ->
      <!-- <br><br> -->
      <!-- <form ng-submit="saveData(fullRecord)"> -->
  
        <input ng-click="saveData(fullRecord)" type="Submit" style="color: brown; margin-left: 2px">
      <!-- </form> -->
       <hr style="width: 30%">
database content here...
  <ng-view></ng-view>

      <!-- <p class="h_iframe">
            <iframe src="http://dealbook.nytimes.com/2014/01/29/law-enforcement-strikes-back-in-bitcoin-hearing/" style="border: 4x; border-radius: 5px; width: 90%; margin-left: 40px; height: 350px"></iframe>
          </p> -->

<div>
     <a><img style="border: 2px solid brown; box-shadow: 10px 10px 10px #888888; padding: 12px; border-radius: 5px; margin-left: 15px; margin-top: 280px; width: 14%; height: 14%;" src="md5.gif"> </a>
</div>
   </div>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script> <!-- remove from package.json? -->
   <script src="app.js"></script>
   <script src="mainController.js"></script>

 </body>
</html>

<!-- need any of these?
    <script src="lib/angular-route/angular-route.js"></script>
    other files? controllers, routes?

    dependencies:
    "bluebird": "^3.3.4",
    "express-partials": "^0.3.0",
-->
